<div class="modal" id="commentModalTweet<%= tweet.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
    <div class="modal-content">
			<div class="modal-header">
				<i class='fa fa-comment-o' style='margin-right:10px;'></i>
				Comments:
			</div>
			<div class="modal-body">
				<% tweet.comments.each do |comment| %>
					<div class="row">
						<div class="col-md-12">
							<div class="well">
								<div class="row">
									<div class="col-md-12">
										<i class='fa fa-user'></i>
										<%= comment.contributor.name %>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<%= comment.body %>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<div class="pull-right"><small><%= time_ago_in_words(comment.created_at) %> ago.</small></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				<% end %>
				<%= form_for [tweet.resource.bucket.organization, tweet.resource.bucket, tweet.resource, tweet, @comment] do |f| %>
					<div class="row small-bottom-margin">
						<div class="col-md-12">
							<%= f.collection_select :contributor_id, @organization.contributors, :id, :name, {prompt: "Select a contributor"}, {class: "form-control", required: true} %>
						</div>
					</div>
					<div class="row" style="margin-bottom:5px;">
						<div class="col-md-12">
							Comment:
						</div>
					</div>
					<div class="row small-bottom-margin">
						<div class="col-md-12">
							<%= f.text_area :body, placeholder: "Body...", autocomplete: :off, style: "width:100%;", rows: 2, required: true %>
						</div>
					</div>
					<%= f.hidden_field :commentable_type, value: "Tweet"%>
					<%= f.hidden_field :commentable_id, value: tweet.id %>
					<div class="row">
						<div class="col-md-12"><%= f.submit "Submit", class: "btn btn-default" %></div>
					</div>
					
				<% end %>

				
			</div>

		</div>
	</div>
</div>