<%= form_for [@organization, @bucket, @resource, @tweet] do |f| %>
	<div class="row">
		<div class="col-md-12">
			<%= f.collection_select :contributor_id, @organization.contributors, :id, :name, {prompt: "Select a contributor"}, {class: "form-control", required: true} %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<%= f.text_area :copy, placeholder: "Body of tweet...", autocomplete: :off, style: "width:100%;", rows: 2, required: true, maxlength: "116" %>
		</div>
	</div>
	<ul class="list-inline" style="padding-left:10px;">
		Tags:
		<% @organization.tag_list.split(",").each do |tag| %>
			<li class="hashtag pointer btn btn-sm btn-default"> #<%= tag.strip %></li>
		<% end %>
	</ul>
	<div class="row">
		<div class="col-md-12">
			<%= f.submit "Create", data: { disable_with: "Submitting..." }, class: "btn btn-default btn-primary" %>
		</div>
	</div>

<% end %>

