<% tweet.approved? ? active_or_no = "active" : active_or_no = "" %>
<% tweet.sent? ? sent_or_no = "sent" : sent_or_no = "" %>
<% action_name == "index" && controller_name == "buckets" ? show_bucket = true : show_bucket = false %>

<% if local_assigns[:date] %>
	<div class="row">
		<div class="col-md-12">
			<div class="pull-right">
				<small style="color:grey;"><%= time_ago_in_words(date) %> ago.</small>
			</div>
		</div>
	</div>
<% end %>
<div class="no-height">
	<span class="tweet_resource_tag corner">
		<%= link_to tweet.resource.id, [@organization, tweet.resource.bucket, tweet.resource] %>
	</span>
</div>
<div class="tweet <%= active_or_no %> <%= sent_or_no %>">
	<% if show_bucket %>
		<div class="row">
			<div class="col-md-7">
				<small>
					<%= link_to(truncate(tweet.resource.extraction.title, length: 25), [@organization, tweet.resource.bucket, tweet.resource], title: tweet.resource.extraction.title) %>
					<a href="<%= tweet.resource.url %>" target="_blank" class="grey-link-dark">
						<i class='fa fa-file-image-o' title="external url"></i>
					</a>
				</small>
			</div>
			<div class="col-md-5">
				<small class="pull-right"><%= link_to tweet.resource.bucket.name, organization_bucket_resources_path(@organization, tweet.resource.bucket) %></small>
			</div>
		</div>
	<% end %>
	<div class="row">
		<div class="col-md-12">
			<small class="tweet-url">
				<%= text_field_tag("Tweet url", tweet.resource.url, style: "width:100%;") %>
			</small>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<small class="tweet-copy">
				<%= text_area_tag("Tweet copy", tweet.copy, style: "width:100%; resize: none;", rows: 3) %>
			</small>
		</div>
	</div>
	<div class="row">
		<div class="col-md-5">
			<% if tweet.contributor %>
				<small>by <%= tweet.contributor.name %></small>
			<% end %>
			<% tweet.comments.any? ? darken = "" : darken = "-o" %>
			<a class="grey-link-dark" data-toggle="modal" data-target="#commentModalTweet<%= tweet.id %>" href="#" role="button"><i class="fa fa-comment<%= darken %>" title='comments'></i></a>
			<%= render "comments/comments_tweet_modal", tweet: tweet %>
			
			<a class="grey-link-dark" data-toggle="modal" data-target="#editTweetModal<%= tweet.id %>" href="#" role="button"><i class='fa fa-pencil' title="edit tweet"></i></a>
			<%= render "tweets/edit_tweet_modal", tweet: tweet %>
			
			<%= link_to [tweet.resource.bucket.organization, tweet.resource.bucket, tweet.resource, tweet], method: :delete, class: "grey-link-dark", data: { confirm: 'Are you sure?' } do %>
			  <i class='fa fa-trash' title='remove tweet'></i>
			<% end %>
		</div>
		<div class="col-md-7">
			<%= form_for [tweet.resource.bucket.organization, tweet.resource.bucket, tweet.resource, tweet], method: :put do |f| %>
				<%= f.hidden_field :resource_id, value: tweet.resource.id %>
				<% if tweet.sent == false %>
					<%= f.hidden_field :sent, value: true %>
					<%= f.hidden_field :last_sent_at, value: DateTime.now %>
				<% else %>
					<%= f.hidden_field :sent, value: false %>
				<% end %>
				<% if tweet.sent == false %>
					<%= f.submit "Send", class: "btn btn-xs btn-default btn-success-hover pull-right" %>
				<% else %>
					<%= f.submit "✓ Sent", class: "btn btn-xs btn-default btn-danger-hover pull-right" %>
				<% end %>
			<% end %>
			<%= form_for [tweet.resource.bucket.organization, tweet.resource.bucket, tweet.resource, tweet], method: :put, class: "form-inline" do |f| %>
				<%= f.hidden_field :resource_id, value: tweet.resource.id %>
				<% if tweet.approved == false %>
					<%= f.hidden_field :approved, value: true %>
					<%= f.hidden_field :last_approved_at, value: DateTime.now %>
				<% else %>
					<%= f.hidden_field :approved, value: false %>
				<% end %>
				<% if tweet.approved == false %>
					<%= f.submit "Approve", class: "btn btn-xs btn-default btn-success-hover pull-right" %>
				<% else %>
					<%= f.submit "✓ Approved", class: "btn btn-xs btn-default btn-danger-hover pull-right" %>
				<% end %>
			<% end %>
		</div>
	</div>
</div>
