<div class="modal" id="editBucketModal<%= bucket.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
    <div class="modal-content">
			<div class="modal-header">
				<i class='fa fa-pencil' style='margin-right:10px;'></i>
				Edit Bucket:
			</div>
			<div class="modal-body">
				<%= form_for [bucket.organization, bucket], method: :put do |f| %>
					<div class="row" style="margin-bottom:5px;">
						<div class="col-md-12">
							Name:
						</div>
					</div>
					<div class="row small-bottom-margin">
						<div class="col-md-12">
							<%= f.text_field :name, style: "width:100%;" %>
						</div>
					</div>
					
					<%= f.hidden_field :organization_id, value: bucket.organization.id %>
					<div class="row">
						<div class="col-md-12"><%= f.submit "Change", class: "btn btn-default" %></div>
					</div>
					
				<% end %>

				
			</div>

		</div>
	</div>
</div>