<div class="container">
	<div class="row">
		<div class="col-md-12">
			<%= link_to "Organizations", root_path %>
			/
			<%= @organization.name %>
			<div class="pull-right"><%= link_to "All #{@organization.name} Resources", organization_resources_path(@organization) %></div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="well">
				<div class="row">
					<div class="col-md-12">
						<strong>Buckets</strong>
					</div>
				</div>
				<hr class="blue-hr">
				<div id="organizations">
					<div class="row">
						<div class="col-md-12">
							<%= render @buckets %>
						</div>
					</div>
					
					<div class="row">
						<div class="col-md-6">
							<div id="bucket-form" style="display:none;"><%= render "buckets/form" %></div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="center">
								<%= link_to "#", id: "new-bucket" do %>
									<i class="fa fa-plus-circle" style="font-size:200%; margin-top:10px;"></i>
								<% end %>
								<a href="#" class="grey-link">
									<i class="fa fa-minus-circle" id="cancel-bucket" style="font-size:200%; margin-top:10px;display:none;"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
				<hr class="blue-hr">
				<div class="row">
					<div class="col-md-4">
						<h4 class="center">Created</h4>
						<% @unapproved_tweets.each do |tweet| %>
							<%= render "tweets/tweet", tweet: tweet, date: tweet.created_at %>
						<% end %>
					</div>
					<div class="col-md-4">
						<h4 class="center">Approved</h4>
						<% @approved_tweets.each do |tweet| %>
							<%= render "tweets/tweet", tweet: tweet, date: tweet.last_approved_at %>
						<% end %>
					</div>
					<div class="col-md-4">
						<h4 class="center">Sent</h4>
						<% @sent_tweets.each do |tweet| %>
							<%= render "tweets/tweet", tweet: tweet, date: tweet.last_sent_at %>
						<% end %>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</div>