<div class="row">
	<div class="col-md-1">
		<%= timesheet.id %>
	</div>
	<div class="col-md-2">
		<%= timesheet.day_start.strftime('%-m/%-d') %>
		-
		<%= timesheet.day_end.strftime('%-m/%-d') %>
	</div>
	<div class="col-md-2">
		<%= timesheet.tweets_per_day %>
		tweets per day
	</div>
	<div class="col-md-4">
		Timeslots:
		<%= timesheet.time_slot1.strftime("%-l:%M%P") %>
		<% unless timesheet.tweets_per_day == 1 %>
			<%= timesheet.time_slot2.strftime("%-l:%M%P") %>
		<% end %>
		<% unless timesheet.tweets_per_day == 1 || timesheet.tweets_per_day == 2 %>
			<%= timesheet.time_slot3.strftime("%-l:%M%P") %>
		<% end %>
		<% unless timesheet.tweets_per_day != 4 %>
			<%= timesheet.time_slot4.strftime("%-l:%M%P") %>
		<% end %>
	</div>
</div>