<div class="well">
	<%= form_for [@organization, @resource] do |f| %>
		<div class="row small-bottom-margin">
			<div class="col-md-12">
				<%= f.text_field :name, placeholder: "Enter name here...", autocomplete: :off, required: true, autofocus: true, style: "width:100%;" %>
			</div>
		</div>
		<div class="row small-bottom-margin">
			<div class="col-md-12">
				<%= f.text_field :url, placeholder: "Enter url here...", autocomplete: :off, autofocus: true, style: "width:100%;" %>
			</div>
		</div>
		<div class="row small-bottom-margin">
			<div class="col-md-12">
				<%= f.text_area :body, placeholder: "Enter body here...", autocomplete: :off, autofocus: true, style: "width:100%;", rows: 4 %>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<%= f.submit "Create", data: { disable_with: "Submitting..." }, class: "btn btn-default" %>
			</div>
		</div>

	<% end %>
	
</div>
