<div id="<%= resource.id %>-resource">
	<div class="row">
		<div class="col-md-6" style="margin-bottom:10px;">
			<div class="row small-bottom-margin">
				<div class="col-md-12">
					<span class="tweet_resource_tag">
						<%= resource.id %>
					</span>
					<% if resource.article_date %>
						<% title_text = "(" + resource.article_date.strftime('%-m/%-d') + ") " + resource.extraction.title %>
					<% else %>
						<% title_text = resource.extraction.title %>
					<% end %>
					<%= link_to title_text, [@organization, resource.bucket, resource], style: "margin-right:3px;" %>
					<a href="<%= resource.url %>" target="_blank" class="grey-link-dark">
						<i class='fa fa-file-image-o' title="external url"></i>
					</a>
					<%= link_to [@organization, resource.bucket, resource], method: :delete, class: "grey-link", data: { confirm: 'Are you sure?' } do %>
					  <i class='fa fa-trash'></i>
					<% end %>
				</div>
			</div>
			<div class="row small-bottom-margin">
				<div class="col-md-12">
					<small>
						<% resource.comments.any? ? darken_r = "" : darken_r = "-o" %>
						<a class="grey-link-dark" data-toggle="modal" data-target="#commentModalResource<%= resource.id %>" href="#" role="button"><i class="fa fa-comment<%= darken_r %>" title='comments'></i></a>
						<%= render "comments/comments_resource_modal", resource: resource %>
						Bucket: <%= link_to resource.bucket.name, organization_bucket_resources_path(@organization, resource.bucket) %>
						|
						Added: <%= resource.created_at.strftime('%-m/%d/%y %-l:%M%P') %>
						<% if resource.contributor.present? %>
						|
						added by <%= resource.contributor.name %>
						<% end %>
					</small>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<%= render "resources/approve_form", resource: resource, btn_size: "btn-xs", placement: "" %>
					<%= render "resources/archive_form", resource: resource, btn_size: "btn-xs", placement: "" %>
					<% if resource.readers.any? %>
						| Read by:
						<% resource.readers.each do |reader| %>
							<%= resource.readers.pluck(:name).to_sentence %>
						<% end %>
					<% end %>
				</div>
			</div>

		</div>
		<div class="col-md-6">
			<% resource.tweets.each_with_index do |tweet, index| %>
				<div class="row">
					<div class="col-md-1">

					</div>
					<div class="col-md-11">
						<%= render "tweets/tweet", tweet: tweet %>
					</div>
				</div>
			<% end %>
		</div>
	</div>
	<hr class="blue-hr">
</div>