<div class="container">
	<div class="row">
		<div class="col-md-12">
			<%= link_to "Organizations", root_path %>
			/
			<%= link_to "#{@organization.name}", organization_buckets_path(@organization) %>
			/
			<%= link_to @bucket.name, organization_bucket_resources_path(@organization, @bucket) %>
			/
			<%= @resource.extraction.title %>
			<div class="pull-right"><%= link_to "All #{@organization.name} Resources", organization_resources_path(@organization) %></div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="well">
				<div class="row">
					<div class="col-md-2">Add tweet:</div>
					<div class="col-md-10">
						<%= render "tweets/form", tweet: @tweet %>
					</div>
				</div>
				<% @tweets.each do |tweet| %>
					<div class="row">
						<div class="col-md-2"></div>
						<div class="col-md-10">
							<%= render "tweets/tweet", tweet: tweet %>
						</div>
					</div>
				<% end %>
				<div class="row small-bottom-margin">
					<div class="col-md-2">Random Tweet:</div>
					<div class="col-md-10">
						<%= @suggested_tweet %>
					</div>
				</div>


				<div class="row small-bottom-margin">
					<div class="col-md-2">Extracted Title:</div>
					<div class="col-md-10">
						<a href="<%= @resource.url %>" target="_blank">
							<%= @resource.extraction.title %>
						</a>
					</div>
				</div>

				<div class="row small-bottom-margin">
					<div class="col-md-2">Extracted Author:</div>
					<div class="col-md-10">
						<%= @resource.extraction.author %>
					</div>
				</div>

				<div class="row small-bottom-margin">
					<div class="col-md-2">Extracted Article:</div>
					<div class="col-md-10">
						<%= simple_format(@resource.extraction.article) %>
					</div>
				</div>
				
				<div class="row small-bottom-margin">
					<div class="col-md-2">Extracted Feeds:</div>
					<div class="col-md-10">
						<%= @resource.extraction.feeds %>
					</div>
				</div>
				
				<div class="row small-bottom-margin">
					<div class="col-md-2">Extracted Videos:</div>
					<div class="col-md-10">
						<%= @resource.extraction.videos %>
					</div>
				</div>
				
				<div class="row small-bottom-margin">
					<div class="col-md-2">Summarization sentences:</div>
					<div class="col-md-10">
						<ul class="list-unstyled">
							<% if @resource.summarization %>
								<% @resource.summarization.sentences.each do |sentence| %>
									<li class="small-bottom-margin"><%= sentence %></li>
								<% end %>
							<% end %>
						</ul>
					</div>
				</div>
				
				<div class="row small-bottom-margin">
					<div class="col-md-2">Hashtagging hashtags:</div>
					<div class="col-md-10">
						<% if @resource.hashtagging %>
							<%= @resource.hashtagging.hashtags.to_sentence %>
						<% end %>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</div>