<div class="container" style="margin-bottom: 500px;">
	<div class="row">
		<div class="col-md-12">
			<%= link_to "Organizations", root_path %>
			/
			<%= link_to "#{@organization.name}", organization_buckets_path(@organization) %>
			/
			<%= link_to @bucket.name, organization_bucket_resources_path(@organization, @bucket) %>
			/
			<%= @resource.extraction.title %>
			<div class="pull-right">
				Resources:
				<%= render "shared/resource_links" %>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="well">
				<div class="row">
					<div class="col-md-12">
						<% if @next_resource %>
							<%= link_to "next", [@organization, @next_resource.bucket, @next_resource], class: "pull-right" %>
						<% end %>
						<% if @previous_resource %>
							<%= link_to "previous", [@organization, @previous_resource.bucket, @previous_resource] %>
						<% end %>
					</div>
				</div>
				
				<div class="row small-bottom-margin">
					<div class="col-md-2"><div class="pull-right">Actions</div></div>
					<div class="col-md-10">
						<% @organization.contributors.each do |contributor| %>
							<%= render "readings/reading_btn", contributor: contributor, resource: @resource %>
						<% end %>
						<% @resource.readings.each do |reading| %>
							<%= render "readings/unreading_btn", reading: reading %>
						<% end %>
						
						<%= render "resources/approve_form", resource: @resource, btn_size: "btn-xs", placement: "pull-right" %>
						<%= render "resources/archive_form", resource: @resource, btn_size: "btn-xs", placement: "pull-right small-right-margin" %>
					</div>
				</div>
				<div class="row small-bottom-margin">
					<div class="col-md-2"><div class="pull-right">Added</div></div>
					<div class="col-md-10">
						<%= @resource.created_at.strftime('%-m/%d/%y %-l:%M%P') %>
						<% if @resource.contributor.present? %>
							| by <%= @resource.contributor.name %>
						<% end %>
						| <%= pluralize(@resource.tweets.count, "tweet") %>
						|
						<a data-toggle="modal" data-target="#commentModalResource<%= @resource.id %>" href="#" role="button"> <%= pluralize(@resource.comments.count, "comment") %></a>
						<%= render "comments/comments_resource_modal", resource: @resource %>
					</div>
				</div>
				
				<div class="row small-bottom-margin">
					<div class="col-md-2"><div class="pull-right">Extracted Title:</div></div>
					<div class="col-md-10">
						<h3 class="no-margin">
							<span class="tweet_resource_tag">
								<%= @resource.id %>
							</span>
							<a href="<%= @resource.url %>" target="_blank">
								<%= @resource.extraction.title %>
							</a>
						</h3>
					</div>
				</div>
				
				<% if @resource.extraction.author.present? %>
					<div class="row small-bottom-margin">
						<div class="col-md-2"><div class="pull-right">Extracted Author:</div></div>
						<div class="col-md-10">
							<%= @resource.extraction.author %>
						</div>
					</div>
				<% end %>
				<hr class="blue-hr">
				<div class="row small-bottom-margin">
					<div class="col-md-12">
						<div class="article_body">
							<%= simple_format(@resource.extraction.article) %>
						</div>
					</div>
				</div>
				<hr class="blue-hr">
				<% if @resource.extraction.feeds.any? %>
					<div class="row small-bottom-margin">
						<div class="col-md-2"><div class="pull-right">Extracted Feeds:</div></div>
						<div class="col-md-10">
							<%= @resource.extraction.feeds %>
						</div>
					</div>
				<% end %>
				
				<% if @resource.extraction.videos.any? %>
					<div class="row small-bottom-margin">
						<div class="col-md-2"><div class="pull-right">Extracted Videos:</div></div>
						<div class="col-md-10">
							<%= @resource.extraction.videos %>
						</div>
					</div>
				<% end %>
				
				<div class="row small-bottom-margin">
					<div class="col-md-2"><div class="pull-right">Summary sentences:</div></div>
					<div class="col-md-10">
						<ul class="list-unstyled">
							<% if @resource.summarization %>
								<% @resource.summarization.sentences.each do |sentence| %>
									<li class="small-bottom-margin"><%= sentence %></li>
								<% end %>
							<% end %>
						</ul>
					</div>
				</div>
				
				<div class="row small-bottom-margin">
					<div class="col-md-2"><div class="pull-right">Hashtagging hashtags:</div></div>
					<div class="col-md-10">
						<% if @resource.hashtagging %>
							<%= @resource.hashtagging.hashtags.join(" ") %>
						<% end %>
					</div>
				</div>
				<div class="row small-bottom-margin">
					<div class="col-md-2"><div class="pull-right">Random Tweet:</div></div>
					<div class="col-md-10">
						<%= @suggested_tweet %>
					</div>
				</div>
				<hr class="blue-hr">
				<div class="row small-bottom-margin">
					<div class="col-md-6 col-md-offset-3">
						<%= render "tweets/form", tweet: @tweet %>
					</div>
				</div>
				<hr class="blue-hr">
				<div class="row" style="margin-top:40px;">
					<div class="col-md-6 col-md-offset-3">
						<% @tweets.each do |tweet| %>
							<%= render "tweets/tweet", tweet: tweet %>
						<% end %>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</div>