<div class="container" style="margin-bottom:600px;">
	<div class="row">
		<div class="col-md-12">
			<%= link_to "Organizations", root_path %>
			/
			<%= link_to @organization.name, organization_buckets_path(@organization) %>
			<div class="pull-right">
				Resources:
				<%= link_to "Archived", organization_archived_resources_path(@organization) %>
				|
				<%= link_to "All", organization_all_resources_path(@organization) %>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="well">
				<div class="row">
					<div class="col-md-12">
						<strong>All "<%= @organization.name %>" Resources</strong>
					</div>
				</div>
				<hr class="blue-hr">
				<div id="organizations">
					<div class="row">
						<div class="col-md-12">
							<%= render @resources %>
						</div>
					</div>

				</div>
				
			</div>
		</div>
	</div>
</div>