<div class="container" style="margin-bottom:600px;">
	<div class="row">
		<div class="col-md-12">
			<%= link_to "Organizations", root_path %>
			/
			<%= link_to "#{@organization.name}", organization_buckets_path(@organization) %>
			/
			Tweet Manager
			<div class="pull-right">
				Resources:
				<%= render "shared/resource_links" %>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="well">

				<div class="row">
					<div class="col-md-4">
						<h4 class="center">Disproved Tweets</h4>
						<% @disproved_tweets.each do |tweet| %>
							<%= render "tweets/tweet", tweet: tweet, date: tweet.last_disproved_at %>
						<% end %>
						<% if @disproved_tweets.size == 0 %>
							<h4 class="center top-margin"><em>None</em></h4>
						<% end %>
					</div>
					<div class="col-md-4">
						<h4 class="center">Tweets Created</h4>
						<% @unapproved_tweets.each do |tweet| %>
							<%= render "tweets/tweet", tweet: tweet, date: tweet.created_at %>
						<% end %>
						<% if @unapproved_tweets.size == 0 %>
							<h4 class="center top-margin"><em>None</em></h4>
						<% end %>
					</div>
					<div class="col-md-4">
						<h4 class="center">Tweets Approved</h4>
						<% @approved_tweets.each do |tweet| %>
							<%= render "tweets/tweet", tweet: tweet, date: tweet.last_approved_at %>
						<% end %>
						<% if @approved_tweets.size == 0 %>
							<h4 class="center top-margin"><em>None</em></h4>
						<% end %>
					</div>

				</div>
				
			</div>
		</div>
	</div>
</div>



