<!DOCTYPE html>
<html>
<head>
  <title>AlienText + Twitter</title>

	<link href="//netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet">
	
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'shared/flash', flash: flash %>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1 class="green">
				<%= link_to "AlienText + Twitter", root_path %>
				<small><a data-toggle="modal" data-target="#helpModal" href="#" class="pull-right"><i class='fa fa-question-circle' title='Help'></i></a></small>
			</h1>
			<%= render 'shared/help_modal' %>
		</div>
	</div>
</div>
<%= yield %>

</body>
</html>
